<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PingFoodOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logo</display-name>
    <servlet-name>Logo</servlet-name>
    <servlet-class>com.cebs.servlets.Logo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logo</servlet-name>
    <url-pattern>/Logo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoKart</display-name>
    <servlet-name>AddtoKart</servlet-name>
    <servlet-class>com.cebs.servlets.AddtoKart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoKart</servlet-name>
    <url-pattern>/addtokart.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>kanchanjuneja1525@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>kanchan1525</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.cebs.servlets.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/placeorder.js</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItem</display-name>
    <servlet-name>DeleteItem</servlet-name>
    <servlet-class>com.cebs.servlets.DeleteItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItem</servlet-name>
    <url-pattern>/deleteItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItems</display-name>
    <servlet-name>DeleteItems</servlet-name>
    <servlet-class>com.cebs.servlets.DeleteItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItems</servlet-name>
    <url-pattern>/deleteItems.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.cebs.servlets.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackOrder</display-name>
    <servlet-name>TrackOrder</servlet-name>
    <servlet-class>com.cebs.servlets.TrackOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackOrder</servlet-name>
    <url-pattern>/trackOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackOrders</display-name>
    <servlet-name>TrackOrders</servlet-name>
    <servlet-class>com.cebs.servlets.TrackOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackOrders</servlet-name>
    <url-pattern>/trackOrders.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderV</display-name>
    <servlet-name>OrderV</servlet-name>
    <servlet-class>com.cebs.servlets.OrderV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderV</servlet-name>
    <url-pattern>/orderV.do</url-pattern>
  </servlet-mapping>
</web-app>